@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --primary-background-color: #030202;
    --secondary-background-color: #222222;
}

body {
    margin: 0 20px;
}

body, body #anchor {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--primary-background-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF;
}

/* Light mode */
body.light,
body.light #anchor,
body.light .form-label,
body.light .label-principal,
body.light .botao-tema {
    color: #000;
    background-color: #FFF;
}

body.light .criar-form-div,
body.light .form-label,
body.light .login-form,
body.light .botao-tema,
body.light .label-principal {
    border: solid #e8e6e6;
}

body.light .criar-form-div,
body.light .form-label,
body.light .login-form,
body.light .botao-tema,
body.light .label-principal,
body.light .elementos-lista {
    background-color: #e4e4e4;
    border-color: #e8e6e6;
    color: #000;
}

body.light .elementos-lista:hover {
    background-color: #bebebe;
    font-weight: bold;
}

/* Text colors */
.text-color-success {
    color: #2fce10;
    font-weight: bold;
}

.text-color-danger {
    color: #f60f0f;
    font-weight: bold;
}

.situacao-espera, .situacao-espera-detalhes {
    font-weight: bold;
}

.situacao-espera-detalhes {
    font-size: 25px;
}

.situacao-finalizada, .situacao-finalizada-detalhes {
    color: #0db415;
    font-weight: bold;
}

.situacao-finalizada-detalhes {
    font-size: 25px;
}

.situacao-iniciada, .situacao-iniciada-detalhes {
    color: #168fcc;
    font-weight: bold;
}

.situacao-iniciada-detalhes {
    font-size: 25px;
}

/* Botao */
.botao-principal {
    color: #FFF;
    background-color: #fc831c;
    padding: 15px 25px;
    font-size: 25px;
    font-weight: bold;
    border-color: transparent;
    border-radius: 5px;
    margin: 0 10px 0 0;
    text-decoration: none;
}

    .botao-principal:hover {
        transition: 500ms;
        background-color: #fc831c;
        color: #FFF;
    }

#botao-padding-ajustes {
    padding: 8px 20px;
}

.botao-filtro {
    color: #FFF;
    background-color: #dc5b10;
    border-color: transparent;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    margin: 0 2px;
}

.botao-filtro:hover {
    transition: 500ms;
    background-color: #983909;
}

.icone-tema {
    height: 20px;
    width: 20px;
    margin: 0 0 0 20px;
}

.label-principal,
.form-label {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
    background-color: var(--secondary-background-color);
    border-radius: 10px 10px 0 0;
}

.buscar-input-div, .buscar-input-date-div {
    background-color: var(--secondary-background-color);
    padding: 20px;
    border: solid #000;
}

.buscar-input-date-div {
    display: flex;
    justify-content: space-between;
}

.input {
    font-size: 1.4rem;
    width: 80%;
}

.input-date {
    font-size: 20px;
    margin-left: 10px;
}

/* Navbar */
navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20px 0 0;
}

.nav-link {
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover, .logo:hover,
.nav-link:focus {
    transition: 500ms;
    color: #808080;
    cursor: pointer;
}

.data-filtro-label {
    font-weight: bold;
    margin: 7px 0;
    font-size: 18px;
    color: #FFF;
}

/* Login */
.login-form {
    text-align: center;
    border: solid #ffffff;
    border-radius: 20px;
    padding: 30px 0;
    width: 40%;
    margin: 0 auto;
}

.login-label {
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 20px 0;
}

.primary-input-text {
    font-size: 25px;
    width: 80%;
    margin: 5px 0;
}

.login-erro {
    text-align: center;
    color: #ff0000;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

/* Ferramenta */

.criar-form-div {
    border: solid #FFF;
    padding: 10px 10px 0 10px;
    width: 80%;
    margin: 0 auto;
}

.form-label {
    width: 80%;
    margin: 0 auto;
}

.elementos-lista {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    font-size: 20px;
    border-bottom: solid #100f0f;
    text-decoration: none;
    margin: 0;
    background-color: var(--secondary-background-color);
    color: #FFF;
}

.elementos-lista:hover {
    background-color: #827a7a;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
}

.elemento-node {
    text-align: center;
    width: 100%;
}

#elementos-lista-label {
    font-weight: bold;
    font-size: 22px;
}

.elemento-detalhes-box {
    border: solid var(--secondary-background-color);
    border-radius: 10px 10px 0 0;
}

.elemento-buscar-input {
    font-size: 1.2rem;
    width: 100%;
    border-radius: 7px;
}

.elementos-lista-foto {
    height: 80px;
    width: 80px;
    border: solid #808080;
}

.elementos-lista-foto:hover {
    height: 100px;
    width: 100px;
}

.ferramenta-detalhes-foto {
    height: 300px;
    width: 300px;
    border: solid #808080;
}

/* Usuarios */

#usuario-foto {
    border-radius: 50%;
}