@inherits LayoutComponentBase

@inject ISessaoUsuario sessao
@inject IJSRuntime JSRuntime

<navbar>
    <div class="d-flex align-items-center">
        <a class="logo" href="/" id="anchor">
            Software Controle
        </a>
        <div>
            <button class="botao-tema" id="light-button" @onclick="ToggleLightMode">@botaoTema</button>
        </div>
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="d-flex">
                <div>
                    <a class="nav-link" href="/ferramentas" id="anchor">Ferramentas</a>
                </div>
                <div>
                    <a class="nav-link" href="/usuarios" id="anchor">Usuarios</a>
                </div>
                <div>
                    <a class="nav-link" href="/ordens" id="anchor">Ordens</a>
                </div>
            </div>
            <div class="nav-links">
                <a class="nav-link" href="/usuario/@context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value" id="anchor">
                    @context.User.FindFirst(ClaimTypes.Name)?.Value
                </a>
                <a class="nav-link" href="/logout" id="anchor">
                    <span>Sair</span>
                </a>
            </div>
        </Authorized>
        <NotAuthorized>
            <a class="nav-link" href="/login" id="anchor">
                <span>Entrar</span>
            </a>
         </NotAuthorized>
    </AuthorizeView>
</navbar>
<div>
    <main>
        <div>
            @Body
        </div>
    </main>
</div>

@code {
    private string botaoTema = "Escuro";

    private async Task ToggleLightMode()
    {
        await JSRuntime.InvokeVoidAsync("toggleLightMode");

        if(botaoTema == "Escuro")
        {
            botaoTema = "Claro";
            return;
        };

        botaoTema = "Escuro";
    }
}
