@inherits LayoutComponentBase

@inject ISessaoUsuario sessao

<navbar>
    <a class="logo">
        Software Controle
    </a>
    <div>
        <div>
            <a class="nav-link" href="/ferramentas">Ferramentas</a>
        </div>
        <div>
            <a class="nav-link" href="/ordens">Ordens</a>
        </div>
    </div>
    <div class="nav-links">
        <AuthorizeView>
            <Authorized>
                <a class="nav-link">
                    @context.User.FindFirst(ClaimTypes.Name)?.Value
                </a>
                <a class="nav-link" href="/logout">
                    <span>Sair</span>
                </a>
            </Authorized>
            <NotAuthorized>
                <a class="nav-link" href="/login">
                    <span>Entrar</span>
                </a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</navbar>
<div>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

@code {

}