@inherits LayoutComponentBase

<navbar>
    <a class="logo">
        Software Controle
    </a>
    <div class="nav-links">
        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link">
                    @context.User.FindFirst(ClaimTypes.Name)?.Value
                </NavLink>
                <NavLink class="nav-link" href="logout">
                    <span class="oi oi-account-logout">Sair</span>
                </NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-account-logout">Entrar</span>
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</navbar>
<div>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>